<h2 class="align-content-center">Update Database</h2>

<div class="align-content-center">
<p class="align-content-center">Here, you can add, modify or delete any element.
   Select a category:
</p>
</div>

<style>
    .left {
        float: left;
        width: 33%;
    }
</style>

<div class="align-content-center">
    <div class="left">   
        <a asp-controller="Films" asp-action="UpdateIndex" class="btn btn-outline-primary">Film</a>
    </div>
    <div class="left">
        <a asp-controller="Directors" asp-action="UpdateIndex" class="btn btn-outline-success">Director</a>
    </div>
    <div class="left">
    <a asp-controller="Actors" asp-action="UpdateIndex" class="btn btn-outline-warning">Actor</a>
    </div>
</div>